In [ ]:
import numpy as np
import pandas as pd
import os
import sys
from google.colab import drive
import matplotlib.pyplot as plt
import math
import itertools

import random
import seaborn as sns
LOOK_AT = 10
SEED = 42
np.random.seed(SEED)
random.seed(SEED)

In [ ]:
#mount google colab
drive.mount('/content/drive',force_remount = True)

Mounted at /content/drive

In [ ]:
df_2020 = pd.read_csv('/content/drive/MyDrive/Richard_FRL/Project Data/2021_ICM_Problem_D_Data/df_2020.csv')

In [ ]:
df_2020 = df_2020.groupby('artist_names').filter(lambda x : (x['artist_names'].count()>=100).any())
#for the sake of reducing memory issues , we have just used artists with occurence above 20

In [ ]:
from xgboost import XGBClassifier 
from matplotlib import pyplot as plt 
from matplotlib.pyplot import figure

classifier = XGBClassifier()

‚óè Will only focus on the timeframe from 1990 - 2020

In [ ]:
df_2020

       Unnamed: 0  ...            song_title (censored)
12            125  ...                 ****, ****, ****
13            126  ...                      Really Love
14            127  ...                           Higher
15            128  ...                          Alright
16            129  ...                   Left And Right
...           ...  ...                              ...
32698       97439  ...                Me Estas Tentando
32699       97440  ...                  Estoy Enamorado
32700       97441  ...  Llam√© Pa' Verte (Bailando *****
32701       97442  ...            Porque Me Tratas As√≠?
32702       97443  ...                        Te Siento

[17371 rows x 20 columns]

In [ ]:
del df_2020['Unnamed: 0'] #useless
del df_2020['popularity'] #we removed this because it is not a feature of music. 
#Also , this time in the assignement , popularity in the second part is defined as the number of followers on the Social Media platforms. so our target variable is the new variable ((num_followers")) instead of the variable ((popularity)) that was used in the previous part.

In [ ]:
df_2020['num_followers'] = np.random.uniform(0,1, df_2020.shape[0])

df_2020['num_followers'].isnull().values.any() #just to check if there is any nan value in the new column
                                              # I set the fake variables between 0 and 1 randomly to avoid the scaling part. but with real data we need few lines of code to scale the variable.

False

In [ ]:
df_2020.shape

(17371, 19)

In [ ]:
df_2020.head(3)

    artist_names artists_id  ...  song_title (censored)  num_followers
12  ["D'Angelo"]   [134600]  ...       ****, ****, ****       0.374540
13  ["D'Angelo"]   [134600]  ...            Really Love       0.950714
14  ["D'Angelo"]   [134600]  ...                 Higher       0.731994

[3 rows x 19 columns]

In [ ]:
df_2020.columns

Index(['artist_names', 'artists_id', 'danceability', 'energy', 'valence',
       'tempo', 'loudness', 'mode', 'key', 'acousticness', 'instrumentalness',
       'liveness', 'speechiness', 'explicit', 'duration_ms', 'year',
       'release_date', 'song_title (censored)', 'num_followers'],
      dtype='object')

In [ ]:
X_2020 =df_2020[['danceability', 'energy', 'valence',
       'tempo', 'loudness', 'key', 'acousticness', 'instrumentalness',
       'liveness', 'speechiness', 'duration_ms']]
Y_2020 =df_2020['num_followers']

#here we removed two columns to reduce computational cost.

Determine which features of music the artists use the most in their music.

In [ ]:
classifier.fit(X_2020, Y_2020) 
print(classifier.feature_importances_)
figure(figsize=(15, 4.5), dpi=80,)
plt.bar(X_2020.columns,classifier.feature_importances_)
plt.show()